* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor-vermelho: #2FD6BE;
    --cor-marrom: #a52a2a;
    --cor-escuro-fundo: #0a0a0a;
    --cor-escuro-fundo-secundario: #1a1a1a;
    --cor-texto: #ffffff;
    --cor-texto-suave: #ded9d9;
    --cor-borda: #1f1f1f;
}