.tech-grid {
  display: flex;

  flex-wrap: wrap;

  gap: 16px;

  justify-content: center;
}

.stacks-section {
  padding-bottom: 4rem;
}

.tech-description {
  display: block;
  text-align: center;
  color: #B3B3B3;
  margin: -22px auto 38px auto;

  max-width: 600px;

  padding: 0 20px;
}


.tech-badge {
  background: rgba(226, 75, 74, 0.1);

  border: 1px solid rgba(226, 75, 74, 0.3);

  padding: 12px 20px;

  border-radius: 999px;

  color: var(--color-primary);

  font-weight: 600;

  transition: 0.3s;
}